body {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20px;
	line-height: .5;
	font-style: italic;
	background-color: antiquewhite;
}

textarea {
	background: transparent;
	border: none;
	resize: none;
	color: #0d48b6;
	border-left: 1px solid antiquewhite;
	padding: 10px;
	font-style: italic;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	color: black;
	border-radius: 0;
	border-bottom: 10px solid black;
}

.description {
	white-space: pre-wrap;
}

.time-block {
	text-align: center;
	border-radius: 20px;
}

.row {
	white-space: pre-wrap;
	height: 75px;
}

.hour {
	border-left: 1.5px solid black;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	background-color: #4e06d5;
	color: white;
	text-align: center;
}

.past {
	background-color: #d3d3d3;
	color: black;
}

.present {
	background-color: transparent;
	color: black;
}

.future {
	background-color: #c9c267;
	color: black;
}

.saveBtn {
	border-left: 1.5px solid black;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	background-color: #4e06d5;
	color: white;
	text-align: center;
}

.calenderInput {
	width: 60%;
}

.calenderInput {
	background-color: antiquewhite;
}

#calenderBlock {
	background-color: antiquewhite;
}
